@import url(./assets/css/_base.scss);
@import url(./assets/css/_mixins.scss);
@import url(./assets/css/_variables.scss);
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
/* Layout wrapper */
.app-layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}